<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="/CODIGO-CSS/footer.css" rel="stylesheet">
</head>
<body>
    <footer> 
        <a href="pagina6.html" style="float: left; margin-left: 3.1em; margin-right: -3.1em;"><img src="imagenEjemplo.jpg" alt="Paisaje"></a> 
        <a href="pagina6.html"><img src="imagenEjemplo.jpg" alt="Paisaje"></a>
        <a href="pagina6.html"><img src="imagenEjemplo.jpg" alt="Paisaje"></a>
        <a href="pagina6.html"><img src="imagenEjemplo.jpg" alt="Paisaje"></a>
        <a href="pagina6.html"><img src="imagenEjemplo.jpg" alt="Paisaje"></a>
    </footer>
</body>
</html>
