<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="/CODIGO-CSS/imagenes_destacados.css" rel="stylesheet">
</head>
        <section id = contenedor_imagenes_destacadas>
            <img src = "imagenEjemplo.jpg">
            <img src = "imagenEjemplo.jpg">
            <br>
            <img src = "imagenEjemplo.jpg">
            <img src = "imagenEjemplo.jpg">
            <br>
            <img src = "imagenEjemplo.jpg">
            <img src = "imagenEjemplo.jpg">
            <br>
        </section>
</html>