
        <section id = contenedor_imagenes_destacadas>
            <img src = "imagenEjemplo.jpg">
            <img src = "imagenEjemplo.jpg">
            <br>
            <img src = "imagenEjemplo.jpg">
            <img src = "imagenEjemplo.jpg">
            <br>
            <img src = "imagenEjemplo.jpg">
            <img src = "imagenEjemplo.jpg">
            <br>

        </section>
        <aside id = "contenedor_imagenes_noticias">
            <img src = "imagenEjemplo.jpg">

            <img src = "imagenEjemplo.jpg">

            <img src = "imagenEjemplo.jpg">
        </aside>
