<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="/CODIGO-CSS/fotoDescripciónEstilo.css" rel="stylesheet">
</head>
<body>
<section id = "foto_perfil"><!--ver si para formatear la imagen hay que formatear la section-->
    <img src = "imagenEjemplo.jpg" alt = "nombre juego" width="20%">
    <article class = descripcion_juego>
        <section style="margin-left: 1em;">
            <h1>Descripción del juego:</h1>
            <p>
                texxtototovjfdjnsdiljnaidfnaifvjsoidjsdfnsiddf
                auifghisfhgiafuhgakdhgaidhuadifdhaifgghafghaeg
                adfhafghaidfhgaidfhgaidfhaifhgalfighalffghaffg
                afgoiahfgaiogjaoidfjgoiaijdfogjadfoiigjaoifdgj
            </p>
            <h2>fecha de salida</h2>
            <h3> autor/compañia</h3>
        </section>
    </article>
</section>
</body>
</html>
