<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="/CODIGO-CSS/slider.css" rel="stylesheet">
</head>
    <body>
        <section class="info">
            <section style="margin-left: 1em;">
            <h1>Descripción del juego:</h1>
            <p>
                texxtototovjfdjnsdiljnaidfnaifvjsoidjsdfnsiddf
                auifghisfhgiafuhgakdhgaidhuadifdhaifgghafghaeg
                adfhafghaidfhgaidfhgaidfhaifhgalfighalffghaffg
                afgoiahfgaiogjaoidfjgoiaijdfogjadfoiigjaoifdgj
            </p>
            <h2>fecha de salida</h2>
            <h3> autor/compañia</h3>
            </section>
        </section>
    </body>
</html>