<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="/CODIGO-CSS/contenedor_Listas.css" rel="stylesheet">
</head>
    <body>
        <section class="contenedor_Listas ">
            <ul id="orden_listas">
                <button class="flecha_back"><-</button>
                <li><a href="pagina6.html"><img src="imagenEjemplo.jpg" alt="lista1"></a></li>
                <li><a href="pagina6.html"><img src="imagenEjemplo.jpg" alt="lista2"></a></li>
                <li><a href="pagina6.html"><img src="imagenEjemplo.jpg" alt="lista3"></a></li>
                <li><a href="pagina6.html"><img src="imagenEjemplo.jpg" alt="lista4"></a></li>
                <button class="flecha_forward">-></button>
            </ul>
            </section>
            <div> <button class = "filtros">Mas listas</button></div>
    </body>
</html>