<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="/CODIGO-CSS/contenedor_tres_juegos.css" rel="stylesheet">
</head>
    <body>
        <section class="contenedor_Listas ">
            <ul id="contenedor_tres_juegos">
                <li><div><img src="imagenEjemplo.jpg" alt="juego1"><p class= "estilo_estrella">★</p></div></li>
                <li><div><img src="imagenEjemplo.jpg" alt="juego1"><p class= "estilo_estrella">★</p></div></li>
                <li><div><img src="imagenEjemplo.jpg" alt="juego1"><p class= "estilo_estrella">★</p></div></li>
            </ul>
        </section>
    </body> 
</html>