body {
    background: linear-gradient(to right, #00ff95, #00b7ff);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; /* Asegura que no haya márgenes */
    padding: 0; /* Asegura que no haya relleno */
    min-height: 100vh; /*Esto es para que siempre se cree el body ajustándose al tamaño de la pantalla*/
    position: relative;
    padding-bottom: 5em;
}
