* {
    margin: 0;
    padding: 0;
}

nav {
    display:flex;
    align-items: center;
    overflow: auto; /*para que los textos no se salgan del contenedor al cambiar dimensiones de la pantalla y añade barras para moverse*/
    background-color:lightblue;
    padding: 1em 0em;
    width: 100%;
}
nav a {
    margin-right: 200px;
    text-decoration: none;
}

#logo{
    float: left;
    margin-left: 0.5em;
}

.li_style_buscador{
    float: right;
    margin-right: 30px;
}

footer {
    background-color: aquamarine;
    padding: 1em 0;
    width: 100%; /*Como es absolute necesito esto para que se ajuste a la página*/
    bottom: 0; /*Para que vaya al final*/
    position: absolute; /*Para que siempre este al final*/
    text-align: center;
    display: inline;
}
footer img {
width: 40px; /* Tamaño deseado en píxeles */
height: auto; /* Esto asegura que la proporción se mantenga */
padding: 10px;
}

body {
    background: linear-gradient(to left, #47cc7a, #2d3032);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; /* Asegura que no haya márgenes */
    padding: 0; /* Asegura que no haya relleno */
    min-height: 100vh; /*Esto es para que siempre se cree el body ajustándose al tamaño de la pantalla*/
    position: relative;
    padding-bottom: 5em;
}

main{
    align-items: center;
    display: inline;
    position: relative;
    overflow: auto;
    text-align: center;
}

.filtros{
    background-color: rgb(200, 233, 200);
    padding: 1.875em;
    margin: 1.25em 12.5em;
}
.filtros button{
    margin: 0em 5em;
    border-radius: 20%;
    width: 14em;
    height: 4.5em;
    color: aliceblue;
    background-color: #006eff;
}

.info {
    clear: both;
    max-width: 95%;
    max-height: 100%;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    overflow: auto; /*para que los textos no se salgan del contenedor al cambiar dimensiones de la pantalla y añade barras para moverse*/
}

.paginas_nav{
    margin: 3.125em;
}
.paginas_nav button{
    margin: 0.625em;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    background-color: rgb(71, 71, 71);
    color: azure;
}

.carousel_move{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_move div{
    margin: 0px 10px;
    font-size: xx-large;
}

.CabeceraLista{
    background-color: rgb(200, 233, 200);
    padding: 1.875em;
    margin: 1.25em 17em;
    align-items: center;
    display: flex;
}

.FiltrosLista{
    display: flex;
    align-items: center;
}

.NombreLista{
    width: 22%;
    background-color: #00b7ff;
    padding: 0.5em;
    margin-left: 100px;
    margin-right: 100px;
}
#buscalistas{
    margin-left: 380px;
    display: inline-flex;
    width: 22%;
    float: right;
    margin-right: 30px;
}

.CabeceraLista button{
    margin: 0em 4.375em;
    background-color: rgb(0, 94, 218);
    color: rgb(167, 167, 167);
    width: 14em;
    height: 4.5em;
    padding: 0.5em;
    border-radius: 25%;
}

.contenedor_Listas {
    display: flex;
    justify-content: center;
    padding: 0 2em;
    align-items: center;
}

.contenedor_Listas button{
    border-radius: 50%;
    width: 4em;
    height: 4em;
    background-color: rgb(71, 71, 71);
    color: azure;
}

#orden_listas {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Cambiado para que los elementos estén en una fila */
    align-items: center;
    max-width: 100%
}
#orden_listas li {  
    flex: 0 0 auto;
    margin-top: 30px; 
    display: flex;
    padding: 0 2em;
    text-align: center;
}

#orden_listas li a img{

}

#contenedor_tres_juegos {
    display: flex;
    padding: 5px;
    justify-content: center;
    max-width: 100%
}
#contenedor_tres_juegos li {  
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    padding: 0 2em;
    width: 200px;
}
#contenedor_tres_juegos li img {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    height: 170px;
}
#contenedor_tres_juegos li div{
    vertical-align: middle;
}

#your_favourites{
    font-size: 45px;
    text-shadow: 1px 1px 5px #fff;
}

.estilo_estrella{
    top: 0;
    right: 0;
    color: yellow; /* Color amarillo para la estrella */
    text-shadow: 1px 1px 5px #fff; /* Efecto de sombra para un brillo */
    font-size: 45px;
    display: inline-block;
    padding: 5px;
}

.líneaJuegos {
    display: flex; /* Usa flexbox */
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan en líneas */
    justify-content: center;
    width: 80%;
    align-items: center;
    margin: auto; /*para que este centrado*/
}
.líneaJuegos img {
    width: 200px; /* Establece el ancho deseado para las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    margin: 1em 2em; /* Ajusta el margen entre las imágenes */
}

#foto_perfil{
    display: flex;
    align-items: stretch;
    margin-left: 4.5%;
    margin-top: 2%;
    height:max-content;
}
.descripcion_juego {
    background: rgb(192, 251, 255);
    width: 100%;
    max-width: 100%;
    margin-left: 4.5%;;
    margin-right: 4.5%;
    text-align: left;
    flex: 1;
}

#contenedor_imagenes_destacadas{
    width: 40%;
    max-height: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 100px; 
    padding: 5px;
    border-color: black;
    border-style:solid;
    display: inline-block;
}

#contenedor_imagenes_destacadas img{
    width: 40%; 
    max-height: 200px;
    object-fit: cover; 
    padding: 30px 15px;
}

#contenedor_imagenes_noticias{
    width: 40%;
    max-height: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
    border-color: black;
    border-style: double;
}
#contenedor_imagenes_noticias img{ 
    width: 80%; 
    max-height: 200px;
    object-fit: cover; 
    padding: 30px;
}

.lista {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.lista p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size:xx-large;
}

.lista img{
    width: 900px;
    height: 150px;
}

.mySlides_fade {
    margin: auto;
    text-align: center;
    width: 70%;
    height: 400px;
    background-color: aqua;
    position: relative;
    z-index: 1;
}

.mySlides_fade img{
    width: 100%; 
    height: 100%;
}

table {
    width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
    border-collapse: collapse; /* Combina los bordes de las celdas */
    border: 0.1em solid black; /* Establece un borde sólido de 2px con color gris claro */
}

th, td {
    border: 0.05em solid black; /* Establece un borde sólido de 1px con color gris claro para las celdas */
    padding: 0.5em; /* Añade un espacio interno de 8px alrededor del contenido de las celdas */
    text-align: left; /* Alinea el texto a la izquierda dentro de las celdas */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Aplica un color de fondo gris claro a las filas pares */
}

tr:nth-child(odd) {
    background-color: grey; /* Aplica un color de fondo gris claro a las filas pares */
}
th {
    background-color: #4CAF50; /* Color de fondo verde para las celdas de encabezado */
    color: white; /* Texto en color blanco para las celdas de encabezado */
}

#imagenes_descripcion{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 5em;
    margin-top: 2.5em;
}

#imagenes_descripcion img{
    width: 15em;
    height: 15em;
}

#imagenes_descripcion div{
    vertical-align: middle;
    text-align: center;
}

#segunda_imagen{
    margin-left: 6em;
}

#Mas_listas{
    margin: 2em 5em;
    border-radius: 20%;
    width: 14em;
    height: 4.5em;
    color: aliceblue;
    background-color: #006eff;
}

#news_title{
    padding: 1em;
    margin: 0.5em 15em;
    background-color: aquamarine;
}

#imagen_central img{
    margin-top: 1em;
    width: 70%;
    height: 25%;
}

#noticia p{
    justify-content: center;
    margin: 1em 15%;
}

/*RESPONSIVE Tablet*/
@media(max-width: 992px){

    nav a {
        margin-right: 65px; 
    }

    .li_style_buscador{
        float: right;
        display: inline-block;
        align-items: center;
    }

    .li_style_buscador input{
        display: flex;
        align-items: center;
    }

    .líneaJuegos {
        width: 90%;
    }

    .filtros{
        padding: 1em;
        margin: 1.1em 10em;
    }
    
    .filtros button{
        margin: 0em 2em;
        border-radius: 20%;
        width: 6.5em;
        height: 3.5em;
        color: aliceblue;
        background-color: #006eff;
    }

    .CabeceraLista button{
        margin: 0em 3.8em;
        background-color: rgb(0, 94, 218);
        color: rgb(167, 167, 167);
        width: 9em;
        height: 2.5em;
        padding: 0.3em;
    }

    #imagenes_descripcion{
        display: flex;
        justify-content: space-between;
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 4em;
        margin-top: 2em;
        padding: 0px 10em;
    }

    #contenedor_tres_juegos li {  
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        padding: 0 1em;
        width: 150px;
    }

    #contenedor_tres_juegos li img {
        max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
        height: 140px;
    }

    .CabeceraLista{
        padding: 1.875em;
        margin: 1.25em 8em;
        text-align: center;
        display: flex;
    }
    .NombreLista{
        width: 22%;
        background-color: #00b7ff;
        padding: 0.5em;
        margin-left: 30px;
        margin-right: 30px;
    }

    #buscalistas{
        margin-left: 150px;
        display: inline-flex;
        width: 22%;
        float: right;
        margin-right: 30px;
    }

    .estilo_estrella{
        font-size: 35px;
    }

    #orden_listas li a img{
        height: 110px;
        width: auto;
    }

    #foto_perfil img{
        height:240px;
        width: auto;
    }

    #news_title{
        padding: 0.8em;
        margin: 0.4em 8em;
    }

}