<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="/CODIGO-CSS/header.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <a href="pagina.html" style="float: left; margin-left: 1.5em;"><img src = "imagenEjemplo.jpg" width =  "50em">
      <a href="pagina6.html">link 1</a>
      <a href="pagina6.html">link 2</a>
      <a href="pagina6.html">link 3</a>
      <a href="pagina6.html">link 4</a>
      <div class = "li_style_buscador">
          Búsqueda de articulo: <input type="search" name="busquedaarticulo" placeholder="articulo, autor, empresa...">
              <input type="submit" value="Buscar">                  
      </div>
    </nav>
  </header>
</body>
</html>
