<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="/CODIGO-CSS/header.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <a href="home.html" style="float: left; margin-left: 1.5em;"><img src = "imagenEjemplo.jpg" width =  "50em">
      <a href="perfil.html">Perfil</a>
      <a href="Log_in.html">Log In</a>
      <a href="Listas.html">Mis Listas</a>
      <a href="About_Us.html">About Us</a>
      <div class = "li_style_buscador">
          Búsqueda de articulo: <input type="search" name="busquedaarticulo" placeholder="articulo, autor, empresa...">
              <input type="submit" value="Buscar">                  
      </div>
    </nav>
  </header>
</body>
</html>
